body {
    background-color: rgb(234, 234, 234);
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-display: swap;
}

.columnLine {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 30%;
    align-items: center;
}

.line a {
    display: flex;
    height: 48px;
    padding: 0px;
    margin-right: 28px;
}

.line img {
    width: 23px;
    margin-right: 10px;

}

.lineMiddle {
    display: flex;
    flex-direction: row;
    width: 33%;
    align-items: center;
}

.lineLeft {
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.center {
    text-align: center;
}

.lineMiddle>form {
    display: flex;
    background-color: #edeef0;
    border-radius: 5px;
    align-items: center;
    height: 32px;
    margin-right: 20px;
}

.lineMiddle>button {
    height: 48px;
    width: 48px;
    background-color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.lineMiddle>button:hover {
    background-color: rgb(242, 242, 242);
}

.lineMiddle>button>img {
    width: 70%;
}

.lineMiddle>form:hover {
    background-color: rgb(225, 225, 225);
    
}

.lineMiddle>form>input {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    appearance: none;
    box-shadow: none;
    outline: none;
    width: 158px;
}

.lineMiddle>form>img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    background-color: transparent;
    margin-left: 10px ;
    margin-right: 5px;

}

.lineMiddle button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.lineMiddle>form svg {
    color: rgb(153, 162, 173);
    cursor: pointer;
    margin-right: 6px;
    opacity: 1;
}

.lineMiddle svg:hover {
    opacity: 0.7;
}

.lineMiddle input:placeholder-shown + button>svg {
  opacity: 0;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.oneLine {
    display: inline-block;
    text-align: end;
    width: 30%;
}

.start {
    display: inline-block;
    text-align: start;
    width: 27%;
    margin-top: 10px;
    margin-right: 10px;
}

.start>a>svg {
    padding-right: 10px;
    color: #447bba
}

a {
    display: flex;
    text-decoration: none;
    color: black;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    font-weight: 400;
    border-radius: 5px;
    align-items: center;
}

.start>a:hover {
    background-color: rgba(143, 143, 143, 0.1); 
}

.settings>a:hover, .settings>div>a:hover {
    background-color: rgb(246, 246, 246)
}

.twoLine{
    display: inline-block;
    text-align: center;
    width: 27%;
}

.twoLine>.postButton>div>button {
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: #3770b1
}

.twoLine>.postButton>div>button:hover {
    opacity: 0.7;
}

.postButton {
    display: flex;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    align-items: center;
    height: 40px;
}

.createPost {
    width: 84%;
    border-right: 1px solid rgb(179, 179, 179);
}

.postButton .createPost>button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Roboto';
    font-weight: 500;
}


.newClip {
    display: flex;
}

.newClip>button {
    width: 7%;
    height: 36px;
    cursor: pointer;
}

.warp {
    display: flex;
    padding-top: 45px;
}

.stories {
    display: flex;
    height: 150px;
}

.posts {
    width: 100%;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
}

.posts button {
    cursor: pointer;
}

.profil {
    display: flex;

}

.avatar {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    border-radius: 20px;
}

.myAvatar .avatar {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    justify-content: start;
}

.myAvatar button {
    background-color: transparent;
    border: none;
    color: rgb(162, 161, 161);
}

.myAvatar div {
    display: flex;
    height: 48px;
    justify-content: end;
    align-items: center;

}

.myAvatar div:hover {
    background-color: rgb(242, 242, 242);
}

.profil>div span {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.mem>img {
    width: 100%;
}

.mem>p {
    text-align: start;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Roboto';
    font-size: 14px;
}

.infoProfil {
    display: flex;
    width: 50%;
}

.infoProfil span {
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 500;
}

.infoProfil span:hover {
    text-decoration: underline;
}

.buttonProfileInPost {
    display: flex;
    justify-content: end;
    width: 50%;
    align-items: center;
}

.subscribe {
    display: flex;
    width: 118.6px;
    height: 28px;
    border-radius: 7px;
    border: none;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    background-color: rgb(243, 243, 243);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    justify-content: center;
}

.subscribe:hover {
    background-color: rgb(221, 225, 228);
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: white;
    border: none;
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    border-radius: 22px;
}

.option>img {
    width: 15px;
}

.option:hover {
    background-color: rgb(247, 247, 247);
}

.myAvatar {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 10%;
}

.reaction {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.reaction>button {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0px;
    color: #99a2ad;
}

.reaction>button>svg {
    width: 24px;
}

.reaction>button:hover {
    opacity: 0.7;
}


.reaction span {
    color: #99a2ad;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    padding-left: 4px;
    padding-right: 20px;
}

.timeOfPublication a span:hover {
    text-decoration-line: underline;
}

.threeLine {
    display: flex;
    width: 33%;
}

.settings {
    position: fixed;
    background-color: white;
    border-radius: 10px;
    width: 15%;
    margin: 20px;
    padding: 5px;
}

.settings button>svg:hover {
    opacity: 0.7
}

.settings>div>a, .settings>a {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 13px;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

@media (max-width: 1920px) {
    .warp .twoLine{
        width: 37%;
    }
    .start {
        width: 45%;
    }
    .line {
        width: 25%;
    }

    .line a {
        width: 45%;
        margin-right: 0px;
    }

    .oneLine {
        width: 25%;
    }

    .lineMiddle {
        width: 37%;
    }
    .myAvatar {
        width: 65%;
    }
    .myAvatar>.avatar {
        width: 36px;
        height: 36px;
        border-radius: 18px;
    }

    .lineMiddle>input {
        width: 230px;
        height: 30px;
    }

    .lineMiddle>div {
        width: 230px;
    }

    a {
        font-size: 13px;
    }

    .settings {
    width: 23%;
    margin: 20px;
    padding: 10px;
    }

    .twoLine{
    width: 25%;
    }

    .createPost {
    width: 88%;
    border-right: 1px solid rgb(179, 179, 179);
}

}
